name: Generate Terraform Docs

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: write

jobs:
  terraform-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate terraform docs
        uses: terraform-docs/gh-actions@v1.3.0
        with:
          working-dir: .
          output-file: README.md
          output-method: inject
          git-push: true
          git-commit-message: "docs(terraform): update terraform-docs"
